* {
    box-sizing: border-box;
}

:root {
    --pink: #e6e9ff;
    --black: #393939;
    --darkpink: #B4B2D4;
    --pinklight: #a2a2be;
    --pinknublado: #837cc6;
    --white: #fff;
    
    scroll-behavior: smooth;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;

    background: linear-gradient(180deg, #f5f6ff 0%, #B4B2D4 100%);
}

/* header */

.header {
    padding: 0 30px;
}

.header,
.details,
.sun {
    min-width: 290px;
    max-width: 600px;
    margin: 0 auto;
}

.header-container {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.header__input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    appearance: none;
    margin: -15px;
}

.header__button {
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    border: none;
    background: var(--black);
    transition: 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header__button:hover {
    filter: brightness(1.25);
}

.header__date {
    margin-top: 15px;
    color: var(--pinklight);
    font-size: 18px;
}

.header__cityname {
    margin-top: 6px;
    font-weight: 500;
    font-size: 20px;
}

/* temperature */

.temperature {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature__icon {
    margin-top: 15px;
    width: 152px;
}

.temperature__weatherinfo {
    margin-top: 20px;
    color: var(--pinknublado);
    font-size: 24px;
    font-weight: 500;
}

.temperature__weathernow {
    margin-top: 12px;
    color: var(--pinklight);
}

.temperature__degrees {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
}

/* details */

.details__container {
    background: var(--white);
    position: absolute; /* Permite total controle do elemento */
    bottom: 0;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.details {
    margin-top: 30px;
    display: flex;
}

.details__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 1px solid var(--pinklight);
}

.details__item:last-child {
    border: none;
}

.details__label {
    color: var(--pinklight);
}

.details__value,
.sun__value {
    margin-top: 7px;
    font-weight: 500;
}

/* sun */

.sun {
    margin: 30px auto;
    display: flex;
}

.sun__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}